*{
    background-color: pink;
}
button{
    background-color: orange;
}
button:disabled{
    background-color: red;
}

.first-div{
background-color: aqua;
}


input[type="email"]{
    background-color: bisque;
}
a{
    background-color:brown
    
}
a:hover{
    color: red;
}
p::first-letter{
    color: red;
}

ul li:nth-child(2){
    color: green;
}
#div1 ~ p{
    color: red;
}